:root {
  --primary-text-color: #000000;
  --title-text-color: #000000;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --primary-white-color-transparent-60: rgba(255, 255, 255, 0.6);
}

body {
/*  */
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus{
  color: var(--accent-color);
}

.tel-link {
  color: var(--primary-text-color);
}

.mail-link {
  color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}
/* Header*/
.logo {
  text-decoration: none;
  color: var(--primary-text-color);
}

.logo-part {
  color: var(--accent-color);
}







.link-color-text-primary {
  color: var(--primary-text-color);
}

.hero-title {
  background-color: var(--title-text-color);
  color: var(--primary-white-color);
}

.link-color-text-white-tansparent {
  color: var(--primary-white-color-transparent-60);
}

/* Site nav */

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
