:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-footer-text-color: #ffffff;
  --portfolio-filters-background: #f5f4fa;
  --main-portfolio-background: #ffffff;
}
.list {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.logo-part-blue {
  color: var(--accent-color);
}

/* ################### HEADER ################### */
.container {
  /* display: flex; */
  /* align-items: center; */
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* background: lightblue; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 94px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  margin-left: 93px;
  padding: 0;
}

.site-nav .menu-link {
  color: var(--secondary-text-color);
}

.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-link {
  color: var(--main-text-color);
}

.site-nav .current,
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu .menu-item + .menu-item {
  margin-left: 60px;
}

.mail-and-tel {
  display: flex;
  /* margin: 0 0 0 auto; */
  padding: 0;
  margin: 32px 0;
}

.mail-and-tel .mt-item + .mt-item {
  margin-left: 60px;
}
/* .mail-link,
.tel-link {
  color: var(--main-text-color);
} */

/* ################### END HEADER ################### */

/* ################### FOOTER ################### */
.footer {
  background-color: #2f303a;
}

.logo-white {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-footer-text-color);
  margin-bottom: 20px;
}

.address-house {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list {
  padding: 0;
}

.address-list-link {
  /* font-weight: 500; */
  color: var(--main-footer-text-color);
}

.phone,
.e-mail {
  color: rgba(255, 255, 255, 0.6);
}
/* ################### END FOOTER ################### */

/* ################### INDEX HTML ################### */

/* ################### HERO ################### */

.hero {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
}

.hero-button:focus,
.hero-button:hover {
  background-color: #188ce8;
  cursor: pointer;
}

.container-flex-column {
  flex-direction: column;
  width: 100%;
}

/* ################### END HERO ################### */

/* ################### SPECIFICS ################### */
.specifics-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.specifics-item {
  letter-spacing: 0.03em;
  font-size: 14px;
}

.specifics-item-title {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.specifics-item-text {
  line-height: 1.71;
}
/* ################### END SPECIFICS ################### */

/* ################### WORK ################### */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 100%;
}
.work-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  justify-content: space-between;
}

/* ################### END WORK ################### */

/* ################### TEAM ################### */
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 100%;
}

.team-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.team-item {
  background: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
}

.team-item-name {
  font-weight: 500;
  color: var(--secondary-text-color);
  font-size: 16px;
}

/* ################### END TEAM ################### */

/* **************** END INDEX HTML **************** */

/* **************** PORTFOLIO HTML **************** */
/* ################### FILTERS AND CARDS ################### */
.filters-and-cards-title {
  margin-top: 0;
  margin-bottom: 0;
}
.filters-list {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 34px;
  height: 54px;
}

.filters-list-item:not(:first-child) {
  margin-left: 8px;
  margin-bottom: 50px;
}

.filters-list-item-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-filters-background);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.filters-list-item-button:focus,
.filters-list-item-button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

.cards-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 112px;
}

.cards-list-item {
  background-color: var(--main-portfolio-background);
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards-list-item:nth-child(3n) {
  margin-right: 0;
}

.cards-list-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.cards-list-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.cards-list-item-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ################### END FILTERS AND CARDS ################### */
/* **************** END PORTFOLIO HTML **************** */
